<!DOCTYPE html>
<html>
<body>
<form>
  Name:<br>
  <input type="text" name="name">
  <br>
  Email id:<br>
  <input type="text" name="eid">
  <br>
Mobile number:<br>
  <input type="text" name="mobileno"><br>
Number of members:<br>
  <input type="text" name="members">
  
  
<br><br>
  <input type="submit" value="Submit">
<br><br>
<input type="submit" value="View All records">
</form>
</body>
</html> 